[bumpversion]
current_version = 0.6.2
commit = True
tag = True


parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+)(?P<post>\d+))?

serialize =
    {major}.{minor}.{patch}.{release}{post}
    {major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = gamma
values =
    post
    gamma

[bumpversion:part:post]

[bumpversion:file:setup.py]

[bumpversion:file:module/interface.py]

[bumpversion:file:module/codegen/files_to_generate/setup.py]

[bumpversion:file:modulepurepy/_osqp.py]
