[build-system]
requires = ["scikit-build-core", "pybind11"]
build-backend = "scikit_build_core.build"

[project]
name = "osqp"
dynamic = ["version"]
description = "OSQP: The Operator Splitting QP Solver"
readme = "README.rst"
requires-python = ">=3.7"
authors = [
    { name = "Bartolomeo Stellato", email = "bartolomeo.stellato@gmail.com" },
    { name = "Goran Banjac" },
]
dependencies = [
    "jinja2",
    # Building with numpy 2.0 is compatible with numpy 1.x, but it
    # is only available on Python 3.9+
    "numpy >= 2.0.0; python_version > '3.8'",
    "oldest-supported-numpy; python_version <= '3.8'",
    "qdldl",
    # Exclude scipy 1.12 because the random sparse array function started returning
    # the transpose of the original, breaking the unit tests. This was fixed in 1.13.0.
    # ref: https://github.com/scipy/scipy/issues/20027
    "scipy>=0.13.2,!=1.12.0",
    "setuptools",
    "joblib",
]

[project.optional-dependencies]
cuda = [
    "osqp-cuda",
]
dev = [
    "pre-commit",
    "pytest>=6",
    "torch",
]
mkl = [
    "osqp-mkl",
]

[project.urls]
Homepage = "https://osqp.org/"


[tool.scikit-build]
install.components = ["python", "codegen"]
metadata.version.provider = "scikit_build_core.metadata.setuptools_scm"
minimum-version = "0.8"
wheel.install-dir = "osqp"
sdist.include = ["src/osqp/_version.py"]


[tool.scikit-build.cmake.define]
OSQP_ALGEBRA_BACKEND = "builtin"
OSQP_EXT_MODULE_NAME = "ext_builtin"
CMAKE_OSX_ARCHITECTURES = {env="CMAKE_OSX_ARCHITECTURES"}

[tool.pytest.ini_options]
testpaths = ["src/osqp/tests"]

[tool.setuptools_scm]
write_to = "src/osqp/_version.py"
