name: Build WASM

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wasm32 wheels
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3
      env:
        CIBW_PLATFORM: pyodide
      with:
        config-file: cibuildwheel.toml
        output-dir: wheelhouse

    - name: Upload artifacts to github
      uses: actions/upload-artifact@v5
      with:
        name: wheels-wasm32
        path: ./wheelhouse
