name: Build CUDA

on:
  push:
    branches: [ master, develop* ]
    tags:
      - '*'
  pull_request:
    branches: [ master, develop* ]

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2022]

    steps:
    - uses: actions/checkout@master

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2.0.0
      if: runner.os == 'Windows'

    - name: Add Windows SDK
      shell: cmd
      if: runner.os == 'Windows'
      run: |
        choco install windows-sdk-8.1

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.17
      with:
        package-dir: backend/cuda
        output-dir: wheelhouse
      env:
        CIBW_BUILD: "cp3?-*"
        CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_* *-macosx_*"
        CIBW_TEST_REQUIRES: setuptools pytest torch numdifftools
        CIBW_BUILD_VERBOSITY: 1

        CIBW_ENVIRONMENT_LINUX: CMAKE_CUDA_COMPILER=/usr/local/cuda-11.7/bin/nvcc
        CIBW_BEFORE_ALL_LINUX: bash .github/workflows/prepare_build_environment_linux_cuda.sh
        CIBW_REPAIR_WHEEL_COMMAND_LINUX: ""

        CIBW_ENVIRONMENT_WINDOWS: CMAKE_CUDA_COMPILER="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.6/bin/nvcc.exe" CUDA_TOOLKIT_ROOT_DIR="C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.6" CMAKE_GENERATOR_TOOLSET="cuda=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.6"
        CIBW_BEFORE_ALL_WINDOWS: bash .github/workflows/prepare_build_environment_windows_cuda.sh
        CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: ""

    - name: Upload artifacts to github
      uses: actions/upload-artifact@v4
      with:
        name: wheels-${{ matrix.os }}
        path: ./wheelhouse


  merge_wheels:
    name: Merge wheel artifacts from build_wheels OS matrix jobs
    runs-on: ubuntu-latest
    needs: build_wheels
    steps:
      - name: Merge artifacts
        uses: actions/upload-artifact/merge@v4
        with:
          name: wheels
          pattern: wheels-*
          delete-merged: true