name: Build aarch64

on:
  push:
    branches: [ master, develop* ]
    tags:
      - '*'
  pull_request:
    branches: [ master, develop* ]

jobs:
  build_wheels:
    name: Build aarch64 wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@master
      with:
        submodules: 'recursive'

    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: '3.9'

    - uses: docker/setup-qemu-action@v1
      name: Set up QEMU

    - name: Build wheels
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
        python -m pip install cibuildwheel
        python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_BUILD: cp38-* cp39-* cp310-*
        CIBW_SKIP: "*-win32 *-manylinux_i686 *-musllinux_*"
        CIBW_ARCHS_LINUX: aarch64
        CIBW_BEFORE_ALL: "yum -y update && yum install -y blas-devel lapack-devel"
        CIBW_TEST_REQUIRES: "pytest torch numdifftools"
        CIBW_TEST_COMMAND: "python -m pytest -s {project}/src/osqp/tests"
        CIBW_ENVIRONMENT_LINUX: CMAKE_GENERATOR="Unix Makefiles"

    - name: Release to pypi
      # if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      if: ${{ false }}
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.pypi_password }}
      run: |
        python -m pip install --upgrade twine
        twine upload wheelhouse/*

    - name: Upload artifacts to github
      uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: ./wheelhouse
